#cy {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 10%;
    right: 0;
    z-index: 1;
    background-color: whitesmoke;
}

body {
    font-family: helvetica neue, helvetica, liberation sans, arial, sans-serif;
    font-size: 14px
}


.footer {
    height: 10%;
    width: 100%;
    position: fixed;
    bottom: 0;
}